.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
 }

 .left {
    left: 0;
    background-color: #eff8fe;
 }

 .right {
    right: 0;
    background-color: white;
 }

 .centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
 }


    div {
        position: absolute;
        height: 100%;
        width: 100%;
        display: table;
    }

    #logo {
        top: 60%;
        text-align: center;
        width: 100%;
        color: #220d4e;
    }

 #logo-span {
    display: block;
    font-size: xx-large;
    padding-left: 3%;  
 }

 .logo-img {
    width: 50%;
   }
